[
  {
    "name": "Test little-endian",
    "files": ["ptr2float.c"],   // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "machdep": "gcc_x86_64",
    "sa": true,
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test big-endian",
    "files": ["ptr2float.c"],   // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "machdep": "ppc_64",
    "sa": true,
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test original version",
    "files": ["ptr2float.c"],   // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I. -DOLD_VERSION",   // Include all the compilation command options like if you were to compile the test
    "machdep": "ppc_64",
    "sa": true,
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  }
]